<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-12-31T20:41:14Z</date>
	<key>WorkspacePath</key>
	<string>/Users/jeremy/Gdrive/Academic/0-Projects/4-M4/0-Codes/M4s/M4.xcodeproj</string>
</dict>
</plist>
